

body{
margin:0;
padding:0;
}

p{
  word-wrap: break-word;
  width:60%;
  max-width: 800px;
  margin: 20px auto;
  font-size:16px;
}

nav{
  display:none;
}

h1{
  margin: 0;
  padding:20px;
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h2{
  margin: 10px;
  font-size:18px;
}

input{
  background-color:#CDDC39;
  font-weight: bold;
  font-size:20px;
  padding: 10px 40px;
  text-decoration: none;
  color: #FFFFFF;
  border-radius:30px;
  margin: 30px;
  border: none;
}

input:hover{
  background-color:#FFFFFF;
  cursor: pointer;
}

.emphasis{
  font-weight:bold;
}


.contents_box{
  text-align:center;
  margin:0;
  padding:0;
  positon:relative;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size:16px;
}

.vision{
  margin:0 auto;
  background-color:#7B1FA2;
  color:#FFFFFF;
  padding-bottom: 30px;
}

.about img{
  width: 300px;
  border-radius: 300px;
}

.planer{
  background-color:#E1BEE7;
  color:#FFFFFF;
}

.circle{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: #dce775;
}

.traiangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 0 100px 173.2px 100px;
  border-color: transparent transparent #dce775 transparent;
  margin: 10px 20px;
}

.square {
   width: 170px;
   height: 170px;
   background: #dce775;
   margin: 10px 20px;
}


dt{
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  margin: 20px;
}
dd{
  margin:20px;
  text-align:center;
  word-wrap: break-word;
  width: 60%;
  max-width: 800px;
  margin: 20px auto;
}



.works{
  padding: 20px;
  background-color:#FFFFFF;
}

.studies{
  background-color:#FFFFFF;
}
.flexcontainer{
  /* max-width:1200px; */
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top:30px;
  padding-bottom: 30px;
}

.work{
  max-width:400px;
  padding:10px 20px;
  flex: 1 0 300px;/*flex: <flex-grow> <flex-shrink> <flex-basis>*/
}

.work img{
  width: 200px;
  border-radius:3px;
}

.work li{
  text-align:left;
  list-style-type: none;
  font-weight: bold;
  display:none;/*なんか微妙なので一旦消しておく*/
}

.work p{
  margin:10px auto;
  width:80%;
  text-align:left;
}

.hidden{
  display:none;
}

i{
  margin:20px;
  color: #E1BEE7;
}

i:hover{
  color:#FFFFFF;
}

.open{

}

.close{
  /* display:none; */
}

.contact{
  background-color:#7B1FA2;
  color:#FFFFFF;
  padding: 20px;
}
.contact h2{
  font-family: chippewa-falls, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* paddinはもうちょっとまとめられるはず */
